<div id="header">
  <div class="top_right">
    <div class="languages">
      <div class="lang_text"></div>
      <a href="http://all-free-download.com/free-website-templates/" class="lang"></a> <a href="http://all-free-download.com/free-website-templates/" class="lang"></a> </div>
    <div class="big_banner"> <a href="http://all-free-download.com/free-website-templates/"><img src="/assets/images/banner728.jpg" alt="" border="0" /></a> </div>
  </div>
  <div id="logo"> <a href="http://all-free-download.com/free-website-templates/"><img src="/assets/images/logo.png" alt="" border="0" width="182" height="85" /></a> </div>
</div>