<div class="left_content">
  <div class="title_box">Categories</div>
  <ul class="left_menu">
    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Power Tools</a></li>
    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Air Tools</a></li>
    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Hand Tools</a></li>
    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Accessories</a></li>
    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Workwear</a></li>
    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Spare Parts</a></li>
    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Power Tools</a></li>
    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Air Tools</a></li>
    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Hand Tools</a></li>
    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Accessories</a></li>
    <li class="odd"><a href="http://all-free-download.com/free-website-templates/">Workwear</a></li>
    <li class="even"><a href="http://all-free-download.com/free-website-templates/">Spare Parts</a></li>
  </ul>
</div>